In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from ipywidgets.embed import embed_minimal_html

# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
#Step 2
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (Last 3 hrs),Snow Inches (Last 3 hrs)
0,0,Yellowknife,CA,2019-11-08 19:33:40,62.45,-114.38,12.20,78,40,11.41,Scattered clouds,0.0,0.0
1,1,Ushuaia,AR,2019-11-08 19:27:03,-54.81,-68.31,42.80,91,75,29.97,Shower rain,0.0,0.0
2,2,Leshukonskoye,RU,2019-11-08 19:33:41,64.90,45.76,15.87,87,100,5.93,Overcast clouds,0.0,0.0
3,3,Tilichiki,RU,2019-11-08 19:33:41,60.47,166.10,18.09,77,100,10.58,Overcast clouds,0.0,0.0
4,4,Longyearbyen,NO,2019-11-08 19:33:42,78.22,15.63,30.20,58,75,28.86,Broken clouds,0.0,0.0

In [11]:
#Step 3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
#Prompt for rain and snow preferences
rain_yn = input("Do you want it to be raining? (yes/no)")
snow_yn = input("Do you want it to be snowing? (yes/no)")

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [12]:
# Filter the dataset to find the cities that fit the criteria.
if rain_yn == "yes":
    if snow_yn == "yes":
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                               (city_data_df["Max Temp"] >= min_temp) & \
                                               (city_data_df["Rain Inches (Last 3 hrs)"] > 0) & \
                                               (city_data_df["Snow Inches (Last 3 hrs)"] > 0)]
    else:
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                               (city_data_df["Max Temp"] >= min_temp) & \
                                               (city_data_df["Rain Inches (Last 3 hrs)"] > 0) & \
                                               (city_data_df["Snow Inches (Last 3 hrs)"] == 0)]
else:
    if snow_yn == "yes":
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                               (city_data_df["Max Temp"] >= min_temp) & \
                                               (city_data_df["Rain Inches (Last 3 hrs)"] == 0) & \
                                               (city_data_df["Snow Inches (Last 3 hrs)"] > 0)]
    else:
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                               (city_data_df["Max Temp"] >= min_temp) & \
                                               (city_data_df["Rain Inches (Last 3 hrs)"] == 0) & \
                                               (city_data_df["Snow Inches (Last 3 hrs)"] == 0)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (Last 3 hrs),Snow Inches (Last 3 hrs)
7,7,Hermanus,ZA,2019-11-08 19:33:43,-34.42,19.24,66.99,76,100,13.00,Overcast clouds,0.0,0.0
8,8,Maldonado,UY,2019-11-08 19:33:26,-34.91,-54.96,69.80,60,66,12.75,Broken clouds,0.0,0.0
10,10,Cape Town,ZA,2019-11-08 19:31:14,-33.93,18.42,66.99,59,100,12.75,Overcast clouds,0.0,0.0
16,16,Rikitea,PF,2019-11-08 19:31:31,-23.12,-134.97,73.47,77,100,8.52,Overcast clouds,0.0,0.0
18,18,Bluff,AU,2019-11-08 19:33:45,-23.58,149.07,75.06,27,0,11.48,Clear sky,0.0,0.0
20,20,Marrakesh,MA,2019-11-08 19:33:47,31.63,-7.99,64.40,39,20,8.05,Few clouds,0.0,0.0
22,22,Atuona,PF,2019-11-08 19:33:47,-9.80,-139.03,80.17,78,7,15.55,Clear sky,0.0,0.0
23,23,Busselton,AU,2019-11-08 19:31:29,-33.64,115.35,63.00,39,0,13.02,Clear sky,0.0,0.0
24,24,Kahului,US,2019-11-08 19:31:22,20.89,-156.47,80.60,74,20,4.70,Few clouds,0.0,0.0
25,25,Manokwari,ID,2019-11-08 19:33:48,-0.87,134.08,75.31,71,100,4.41,Overcast clouds,0.0,0.0

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp Current Description    Lat     Lng Hotel Name
7    Hermanus      ZA     66.99     Overcast clouds -34.42   19.24
8   Maldonado      UY     69.80       Broken clouds -34.91  -54.96
10  Cape Town      ZA     66.99     Overcast clouds -33.93   18.42
16    Rikitea      PF     73.47     Overcast clouds -23.12 -134.97
18      Bluff      AU     75.06           Clear sky -23.58  149.07
20  Marrakesh      MA     64.40          Few clouds  31.63   -7.99
22     Atuona      PF     80.17           Clear sky  -9.80 -139.03
23  Busselton      AU     63.00           Clear sky -33.64  115.35
24    Kahului      US     80.60          Few clouds  20.89 -156.47
25  Manokwari      ID     75.31     Overcast clouds  -0.87  134.08

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Hermanus,ZA,66.99,Overcast clouds,-34.42,19.24,Misty Waves Boutique Hotel
8,Maldonado,UY,69.80,Broken clouds,-34.91,-54.96,Joan Miro Hotel
10,Cape Town,ZA,66.99,Overcast clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
16,Rikitea,PF,73.47,Overcast clouds,-23.12,-134.97,Pension Maro'i
18,Bluff,AU,75.06,Clear sky,-23.58,149.07,Bluff Hotel
20,Marrakesh,MA,64.40,Few clouds,31.63,-7.99,Les Jardins de La Koutoubia
22,Atuona,PF,80.17,Clear sky,-9.80,-139.03,Villa Enata
23,Busselton,AU,63.00,Clear sky,-33.64,115.35,Observatory Guest House
24,Kahului,US,80.60,Few clouds,20.89,-156.47,Maui Seaside Hotel
25,Manokwari,ID,75.31,Overcast clouds,-0.87,134.08,Swiss Belhotel Manokwari

In [18]:
#Step 4
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#Step 5
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
#Step 6
#Save the marker layer map
embed_minimal_html('weather_data/WeatherPy_vacation_map.html', views=[fig])