In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2019-11-08 08:18:55,22.08,-159.32,71.60,83,1,8.05
1,1,Georgetown,GY,2019-11-08 08:21:19,6.80,-58.16,75.20,100,20,4.70
2,2,Bethel,US,2019-11-08 08:23:08,60.79,-161.76,30.20,100,90,9.17
3,3,Hermanus,ZA,2019-11-08 08:23:08,-34.42,19.24,63.54,75,3,19.01
4,4,Carnarvon,ZA,2019-11-08 08:23:09,-30.97,22.13,69.80,15,1,10.07

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Georgetown,GY,2019-11-08 08:21:19,6.80,-58.16,75.20,100,20,4.70
6,6,Busselton,AU,2019-11-08 08:23:09,-33.64,115.35,75.69,49,0,7.52
8,8,Faanui,PF,2019-11-08 08:23:10,-16.48,-151.75,80.98,80,18,18.99
15,15,Samarai,PG,2019-11-08 08:23:11,-10.62,150.67,78.62,86,100,5.57
19,19,Butaritari,KI,2019-11-08 08:23:12,3.07,172.79,84.99,65,66,5.32
28,28,Aquiraz,BR,2019-11-08 08:23:14,-3.90,-38.39,78.80,74,40,9.17
31,31,Oistins,BB,2019-11-08 08:23:15,13.07,-59.53,82.40,78,75,13.87
33,33,Vila Do Maio,CV,2019-11-08 08:23:15,15.13,-23.22,75.20,69,20,12.75
49,49,Sawakin,SD,2019-11-08 08:23:19,19.10,37.33,86.65,69,0,8.39
57,57,Soyo,AO,2019-11-08 08:23:21,-6.13,12.37,78.80,94,75,5.82

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1     Georgetown      GY     75.20   6.80  -58.16
6      Busselton      AU     75.69 -33.64  115.35
8         Faanui      PF     80.98 -16.48 -151.75
15       Samarai      PG     78.62 -10.62  150.67
19    Butaritari      KI     84.99   3.07  172.79
28       Aquiraz      BR     78.80  -3.90  -38.39
31       Oistins      BB     82.40  13.07  -59.53
33  Vila Do Maio      CV     75.20  15.13  -23.22
49       Sawakin      SD     86.65  19.10   37.33
57          Soyo      AO     78.80  -6.13   12.37

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,GY,75.20,6.80,-58.16,Kanhai's Center
6,Busselton,AU,75.69,-33.64,115.35,Observatory Guest House
8,Faanui,PF,80.98,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
15,Samarai,PG,78.62,-10.62,150.67,Nuli Sapi
19,Butaritari,KI,84.99,3.07,172.79,Isles Sunset Lodge
28,Aquiraz,BR,78.80,-3.90,-38.39,Hotel Laguna Blu
31,Oistins,BB,82.40,13.07,-59.53,Butterfly Beach Hotel
33,Vila Do Maio,CV,75.20,15.13,-23.22,Residence 'I Delfini'
49,Sawakin,SD,86.65,19.10,37.33,Arab Plaza Hotel عرب بلازا هوتيل
57,Soyo,AO,78.80,-6.13,12.37,Hotel Mpampa

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))